.shipment {
  padding: 5px 10% 10px 10%;
  margin: 5px 20%;
  border: 3px solid white;
  color: white;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
}

.item {
  border: 1px solid white;
  margin-top: 20px;
  position: relative;
  padding: 3px;
}
.delete-item {
  height: 100%;
}
.delete-item,
.delete-shipment {
  position: absolute;
  right: 0;
  bottom: 0;
}
button {
  border: 1px solid white;
  color: white;
  background: none;
  cursor: pointer;
}
.add-item {
  margin-top: 10px;
  padding: 3px;
}
.add-shipment {
  margin: 5px 20%;
  padding: 3px;
}

.add-icon {
  font-size: 150%;
}
.delete-icon {
  border: 1px solid white;
  border-radius: 50%;
  font-size: 150%;
}
