.shipment {
  padding: 5px 10% 10px 10%;
  margin: 5px 20%;
  border: 3px solid white;
  color: white;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
}

.item {
  border: 1px solid white;
  margin-top: 20px;
  position: relative;
  padding: 3px;
}
.delete-item {
  height: 100%;
}
.delete-item,
.delete-shipment {
  position: absolute;
  right: 0;
  bottom: 0;
}
button {
  border: 1px solid white;
  color: white;
  background: none;
  cursor: pointer;
}
.add-item {
  margin-top: 10px;
  padding: 3px;
}
.add-shipment-div {
  display: inline-flex;
  margin: 5px 20%;
}
.add-shipment {
  padding: 3px;
}

.shipment-inputs {
  display: flex;
  margin-top: 10px;
}
.shipment-inputs input {
  margin-left: 5px;
  height: 30px;
}

.add-icon {
  font-size: 150%;
}
.delete-icon {
  border: 1px solid white;
  border-radius: 50%;
  font-size: 150%;
}
.add-item-div {
  display: inline-flex;
}
.item-inputs {
  display: flex;
  margin-top: 10px;
}
.item-inputs input {
  margin-left: 5px;
  height: 30px;
}
@media (max-width: 300px) {
  .shipment {
    padding: 5px 5px 30px 5px;
    margin: 5px;
  }
  .item-inputs input {
    width: 70px;
  }
  .add-shipment-div input {
    width: 70px;
  }
}
@media (max-width: 500px) {
  .shipment {
    padding: 5px 5px 30px 5px;
    margin: 5px;
  }
  .item-inputs input,
  .add-shipment-div input {
    width: 90px;
  }
  .add-shipment-div {
    margin: 5px 5%;
  }
}
@media (max-width: 860px) {
  .add-shipment-div {
    margin-right: 0;
  }
  .add-item-div input,
  .add-shipment-div input {
    width: 100px;
  }
  .shipment {
    margin: 5px 10%;
    padding-bottom: 30px;
  }
}
